@import "./variables.css";

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "InriaSans-Regular";
    src: url("../assets/fonts/InriaSans-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: auto;
    display: block;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.logo-wrapper {
    font-size: 250%;
    letter-spacing: 0.1rem;
}

.logo {
    text-decoration: none;
    font-family: InriaSans-Regular;
    color: var(--logo-color);
}

.input__search {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid;
    padding: 6px 0 10px 60px;
    font-family: Montserrat-Regular;
    font-size: 1rem;
    background: url(../assets/image/icon/search.svg) no-repeat;
    outline: none;
    color: var(--input-color);
}

.nav__menu {
    display: flex;
    align-items: center;
}

.menu__item {
    font-family: Montserrat-Regular;
    display: flex;
    justify-content: space-between;
    padding: 0 1.3rem;
    color: var(--primary-text-color);
    text-decoration: none;
}

.menu__item:hover {
    color: var(--hover-text-second-color);
}

.main-registration {
    box-sizing: border-box;
    width: 450px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}


h1 {
    font-family: Montserrat-Regular;
    font-size: 1.5rem;
}

.input,
.input__second {
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: Montserrat-Regular;
    outline: none;
    border-bottom: 1px solid var(--input-color);
    line-height: 2.5;
}

.input::placeholder {
    color: var(--primary-text-color);
    font-family: Montserrat-Regular;
    font-size: 1rem;
}

.input__second::placeholder {
    color: var(--primary-text-color);
    font-family: Montserrat-Regular;
    font-size: 1rem;
}



.input,
.input__second {
    width: 100%;
}

.input-one,
.input-second {
    margin-top: 40px;
    width: 100%;
}


.button {
    width: 100%;
    margin-top: 50px;
}

button {
    width: 100%;
    height: 3.1rem;
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    font-family: Montserrat-Medium;
    font-size: 1rem;
}

button:hover {
    background-color: var(--button-hover-color);
}

.form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.text-description {
    width: 70%;
    padding-top: 1rem;
}

.description__paragraph {
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: var(--description-text-color);
}

.description__paragraph-second {
    color: var(--primary-text-color);
    text-decoration: underline;
}

.description__paragraph-second:hover {
    color: var(--hover-text-color);
}

.leave {
    font-family: Montserrat-Regular;
    font-size: 0.9rem;
    padding: 0 0.6rem;
}