@import "./variables.css";

@font-face {
  font-family: "Montserrat-Regular";
  src: url("..//assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "InriaSans-Regular";
  src: url("../assets/fonts/InriaSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("..//assets/fonts/Montserrat-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text-color);
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1280px;
  margin: auto;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.logo-wrapper {
  font-size: 250%;
  font-family: InriaSans-Regular;
  letter-spacing: 0.1rem;
}

.input__search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  padding: 6px 0 10px 60px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  background: url(../assets/image/icon/search.svg) no-repeat;
  outline: none;
  color: var(--input-color);
}

.nav__menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font-family: Montserrat-Regular;
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
  color: var(--primary-text-color);
  text-decoration: none;
}

.menu__item:hover {
  color: var(--hover-text-second-color);
}

.poster {
  width: 100%;
  margin-top: 2.2rem;
}

.main__photo {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Montserrat-Regular;
}

h1 {
  padding: 10px 0;
}

.title-description {
  margin: 2rem 0;
}

.all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-card,
.second-card,
.thierd-card {
  max-width: 330px;
}

.second-card-position,
.thierd-card-position,
.first-card-position {
  display: flex;
  flex-direction: column;
}

.card__foto {
  width: 100%;
}

.product__description {
  margin: 7px 0;
  font-family: Montserrat-Medium;
}

.text__description {
  margin: 7px 0;
}

.card__button {
  background: var(--button-color);
  color: var(--secondary-text-color);
  font-family: Montserrat-Regular;
  font-size: 1.2rem;
  width: 100%;
  height: 2.8rem;
  margin: 12px 0;
}

.card__button:hover {
  background-color: var(--button-hover-color);
}

.photo-link-first:hover {
  background: url("../assets/image/photo-cards-second/dress_one.jpg") no-repeat 50% 50%;
  background-size: 100%;
}

.photo-link-first:hover .card__foto {
  opacity: 0;
}

.photo-link-second:hover {
  background: url("../assets/image/photo-cards-second/dress_two.jpg") no-repeat 50% 50%;
  background-size: 100%;
}

.photo-link-second:hover .card__foto {
  opacity: 0;
}

.photo-link-thierd:hover {
  background: url("../assets/image/photo-cards-second/dress_three.jpg") no-repeat 50% 50%;
  background-size: 100%;
}

.photo-link-thierd:hover .card__foto {
  opacity: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding: 1rem;
}

.wrapper-element {
  width: 35%;
}

.footer {
  margin: 4rem 0rem 0rem;
  background-color: var(--footer-background-color);
  /* background: linear-gradient(rgb(230, 230, 238), rgb(95, 95, 95)); */
}

.footer__title {
  font-size: 1rem;
  padding: 2rem 0px 1.5rem;
  font-family: Montserrat-Medium;
  color: var(--primary-text-color);
}

.footer-text {
  font-family: Montserrat-Regular;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.footer__item {
  padding: 0.6rem 0;
  font-family: Montserrat-Regular;
}

.footer__link:hover {
  color: var(--hover-text-second-color);
}

.fooetr__input {
  margin-top: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.fooetr__input:focus {
  outline: 0;
}

.footer-wrapper-checkbox {
  margin: 1rem 0px;
}

.mailing-terms {
  color: var(--sub-footer-background);
  text-decoration: underline;

}

.mailing-terms:hover {
  color: var(--hover-text-color);
}

.footer__button {
  margin-top: 5px;
  padding: 7px;
  background-color: var(--footer-background-color);
  text-transform: uppercase;
  width: 140px;
  cursor: pointer;
  font-family: Montserrat-Regular;
  color: var(--button-color);
  border: 1.3px solid;
}

.footer__checkbox-text {
  font-family: Montserrat-Regular;
  font-size: 0.8rem;
}

.footer__button:hover {
  background-color: var(--button-color);
  color: var(--secondary-text-color);
}