:root {
    /* TODO Text-color */
    --primary-text-color: rgba(34, 34, 36, 1);
    --secondary-text-color: rgb(240, 248, 255);
    --description-text-color: rgb(128, 128, 128);
    --hover-text-color: rgba(250, 213, 118, 1);
    --hover-text-second-color: rgb(128, 156, 182);
    --logo-color: rgba(1, 1, 1, 1);

    /* TODO color */
    --input-color: rgb(198, 198, 198);
    --button-color: rgba(1, 1, 1, 1);
    --button-hover-color: rgb(36, 36, 36);

    /* TODO font  */
    --small-font: 1.1rem;
    --middle-font: 1.5rem;
    --large-font: 1.7rem;
    --logo-font: 5rem;

    /* TODO footer-background */
    --sub-footer-background: rgb(29, 51, 70);
    --footer-background-color: rgba(236, 236, 236, 1);
}